html {
  font-family: "Droid Serif", serif;
}

header, footer {
  color: #fff;
  background-color: #70ad55;
}

span {
  color: #70ad55;
}

fieldset {
  border: none;
}

hr {
  border-color: #70ad55;
  opacity: .4;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before,
input,
textarea,
select {
  border-color: #6e8c62;
}

@media only screen and (min-width: 38em) {

  .grid .unit:nth-child(odd) {
    padding-right: 1.5em;
  }

}
